body {
  font-family: 'Roboto', sans-serif;
  transition: background-color 0.5s;
}
.yes {
  background: linear-gradient(to right, #4b0000, #8b0000);
  color: white;
}
.no {
  background: linear-gradient(to right, #00b4db, #0083b0);
  color: white;
}
.container {
  height: 100vh;
}
#title {
  font-size: 6rem;
  font-weight: bold;
}
#response, #response-emoji {
  font-size: 3rem;
  font-weight: bold;
}
img {
  margin-top: 20px;
  width: 256px;
  height: 256px;
  object-fit: cover;
}

.emoji {
    font-size: 2.5em;
    display: block;
}

.container {
    margin-top: 10%;
}
